/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
clojure.*.json
intro.md
core_test.clj
CHANGELOG.md
LICENSE
project.clj
output.calva-repl
lock
incomplete.*.json
lisp-evaluator*.json
nrepl.*.json
db.transit.json
